# adventure.cfg - linker config for Sprawl Adventure
#
# Two output files:
#   adventure       ROM at $E000 (4KB, kernel occupies $F000-$FFFF)
#   adventure_data  RAM game data at $0500 (~47KB)
#
# NOTE: RAM starts at $0450 to avoid kernel DATA at $0400-$0447.
# TODO: Move kernel DATA to $0200-$03FF so programs can use $0400+ (issue #18).

MEMORY {
    ZP:      start = $00,    size = $100,  type = rw, define = yes;
    RAM:     start = $0450,  size = $00B0, type = rw, define = yes;
    RAMDATA: start = $0500,  size = $BB00, type = rw, file = "adventure_data";
    ROM:     start = $E000,  size = $1000, type = ro, file = %O;
}

SEGMENTS {
    ZEROPAGE: load = ZP,      type = zp,  optional = yes;
    BSS:      load = RAM,     type = bss, optional = yes, define = yes;
    GAMEDATA: load = RAMDATA, type = ro;
    CODE:     load = ROM,     type = ro;
    RODATA:   load = ROM,     type = ro,  optional = yes;
}
